[Unit]
Description=Run Smart Lab Delivery Process Manager periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Unit=smart-process-manager.service
Persistent=true

[Install]
WantedBy=timers.target
